@model LaptopShop2.Models.TbProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Chi tiết: @Model.ProductName</h5>
                <div class="card">
                    <div class="card-body">
                        <dl class="row">

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                               Sản phẩm:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Mô tả:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Bài viết giới thiệu sản phẩm:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.Raw(Model.Detail)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Hình ảnh
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Image)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Giá bán:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Price)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Tỷ lệ giảm giá:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Discount)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Số lượng:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Quantity)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Thương hiệu:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Brand.Name)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Danh mục:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CategoryProduct.Name)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Sản phẩm mới:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @if (Model.IsNew)
                                {
                                    <span class="text-success">Có</span>
                                }
                                else
                                {
                                    <span class="text-danger">Không</span>
                                }
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Bán chạy:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @if (Model.IsBestSell)
                                {
                                    <span class="text-success">Có</span>
                                }
                                else
                                {
                                    <span class="text-danger">Không</span>
                                }
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Hiển thị:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @if (Model.IsActive)
                                {
                                    <span class="text-success">Có</span>
                                }
                                else
                                {
                                    <span class="text-danger">Không</span>
                                }
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                @Html.DisplayNameFor(model => model.Code)
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Code)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Xuất xứ:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Origin)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Kích thước:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Size)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Cân nặng:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Weight)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Màu sắc:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Color)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Chất liệu
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Material)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Hãng CPU:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CpuCompany)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Loại CPU:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CpuType)
                            </dd>
                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Tốc độ CPU:
                            </dt>

                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CpuSpeed)
                            </dd>
                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Tốc độ tối đa CPU:
                            </dt>

                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CpuMaxSpeed)
                            </dd>
                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Số nhân CPU:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CpuCore)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Số luồng CPU:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CpuProcessor)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Dung lượng RAM:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.RamSize)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Kiểu RAM:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.RamType)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Tốc độ RAM:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.RamSpeed)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Hỗ trợ tối đa:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.RamSupportMax)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Kích thước màn hình:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.ScreenSize)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Độ phân giải:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.ScreenPixel)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Tấm nền:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.ScreenPanel)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                @Html.DisplayNameFor(model => model.CardBrand)
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CardBrand)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                @Html.DisplayNameFor(model => model.CardModel)
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.CardModel)
                            </dd>
                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Ổ cứng:
                            </dt>

                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.DriveType)
                            </dd>
                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Dung lượng ổ cứng:
                            </dt>

                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.DriveMemory)
                            </dd>
                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Các cổng giao tiếp:
                            </dt>

                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @{
                                    var ports = Model.ConnectPort.Split(',');
                                }

                                <ul class="list-inline">
                                    @foreach (var port in ports)
                                    {
                                        <li class="list-inline-item">@port.Trim()</li>
                                    }
                                </ul>
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                @Html.DisplayNameFor(model => model.Wifi)
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Wifi)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                @Html.DisplayNameFor(model => model.Bluetooth)
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Bluetooth)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                @Html.DisplayNameFor(model => model.Webcam)
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Webcam)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Loại Pin:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.PinType)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Dung lượng Pin:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.PinCapacity)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Hệ sinh thái:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Os)
                            </dd>

                            <dt class="col-sm-2 fw-semibold border-bottom-0">
                                Phiên bản:
                            </dt>
                            <dd class="col-sm-10 fw-semibold border-bottom-0">
                                @Html.DisplayFor(model => model.Version)
                            </dd>
                        </dl>
                    </div>
                </div>

                <div>
                    <a class="btn btn-danger btn-edit m-1" asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
                    <a type="button" class="btn btn-outline-primary m-1" asp-action="Index">Quay lại</a>
                </div>

            </div>
        </div>
    </div> 
</div>

