@model LaptopShop2.Models.TbProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBestSell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBestSell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpuCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpuCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpuType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpuType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpuSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpuSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpuMaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpuMaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpuCore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpuCore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpuProcessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpuProcessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamSupportMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamSupportMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenPixel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenPixel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenPanel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenPanel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriveMemory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriveMemory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wifi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wifi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bluetooth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bluetooth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Webcam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Webcam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Os)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Os)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryProduct.CategoryProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
