@model IPagedList<LaptopShop2.Models.TbBrand>

@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Thương hiệu";
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Quản lý thương hiệu</h5>
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div id="successAlert" class="alert alert-success">
                            @successMessage
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div id="errorAlert" class="alert alert-danger">
                            @errorMessage
                        </div>
                    }
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <p>
                                    <a asp-action="Create" class="btn btn-primary mb-3">Thêm mới</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <form method="get" action="@Url.Action("Index")" class="form-inline float-end">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="searchString" placeholder="Nhập từ khóa...">
                                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <div class="table-reponsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th class="border-bottom-0 w-20">
                                        <h6 class="fw-semibold mb-0">STT</h6>
                                    </th>

                                    <th class="border-bottom-0 w-30">
                                        <h6 class="fw-semibold mb-0">Thương hiệu</h6>
                                    </th>

                                    <th class="border-bottom-0 w-40">
                                        <h6 class="fw-semibold mb-0">Banner</h6>
                                    </th>

                                    <th class="border-bottom-0 w-20">
                                        <h6 class="fw-semibold mb-0">Mô tả</h6>
                                    </th>

                                    <th class="border-bottom-0 w-30">
                                        <h6 class="fw-semibold mb-0">Chức năng</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.BrandId">
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@(i++)</h6>
                                        </td>

                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">@item.Name</h6>
                                        </td>

                                        <td class="border-bottom-0">
                                            <img style="max-width: 70px;height: 50px; object-fit: cover;" src="@item.Banner" />
                                        </td>
                                        <td class="border-bottom-0">
                                            @if (item.Description != null)
                                            {
                                                <h6 class="fw-semibold mb-0 truncate-text">@item.Description</h6>
                                            }
                                            else
                                            {
                                                <h6 class="fw-semibold mb-0">Không</h6>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.BrandId" class="btn btn-danger btn-sm btn-edit">Sửa</a> |
                                            <a asp-action="Details" asp-route-id="@item.BrandId" class="btn btn-info btn-sm btn-detail">Chi tiết</a> |
                                            @* <a asp-action="Delete" asp-route-id="@item.BrandId">Delete</a> *@
                                            <a href="#" class="btn btn-warning btn-sm btn-delete" data-id="@item.BrandId">Xóa</a>
                                            <!-- Form ẩn để thực hiện hành động xóa -->
                                            <form id="deleteForm-@item.BrandId" method="post" action="@Url.Action("Delete", "TbBrands", new { id = item.BrandId })" style="display: none;">
                                                @Html.AntiForgeryToken()
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LiElementClasses = new[] { "page-link" } })
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function (e) {
                e.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
                var brandId = $(this).data("id");
                if (confirm("Bạn có chắc chắn muốn xóa?")) {
                    $("#deleteForm-" + brandId).submit(); // Nộp form ẩn tương ứng
                }
            });
        });
    </script>
}

